<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jBzh"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ProtoInterface"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChoixMJ"></activity>
        <activity android:name=".ChoixJoueur"></activity>
        <activity android:name=".ChoixCreation"></activity>
        <activity android:name=".ListCreationNumeric"></activity>
        <activity android:name=".RemplissageCreation"></activity>
		<activity android:name=".ChoixJet"></activity>
		<activity android:name=".ResumeCreation"></activity>
		<activity android:name=".SelectElemJet"></activity>
		<activity android:name=".DiceLauncher"></activity>
		<activity android:name=".Jauge"></activity>
		<activity android:name=".FicheViewer"></activity>
        <activity android:name=".ChoixEdition"></activity>
        <activity android:name=".ListEditionNumeric"></activity>
        <activity android:name=".RemplissageEdition"></activity>		
		<activity android:name=".ResumeEdition"></activity>
		<activity android:name=".EcranMJ"></activity>
		<activity android:name=".FicheViewerMJ"></activity>
		<activity android:name=".DiceLauncherMJ"></activity>		
		<activity android:name=".ChoixJetMJ"></activity>		
		<activity android:name=".JaugeMJ"></activity>		
    </application>


</manifest> 